h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
}
h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
.videoInsert {
    text-align: center;
}
#videoembed {
    margin-top: 50px;
}